.App {
  text-align: center;
  font-family: Graphik, "Times New Roman", serif !important;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

 Button {
  text-transform: none !important;
  font-family: Graphik, "Times New Roman", serif !important;
}

.default-font {
  font-family: Graphik, "Times New Roman", serif !important;
}

.rounded-border {
  border-radius: 15px !important;
}

.App-header {
  background-color: #8c99b9;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
